@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", sans-serif; */

*{
    margin: 0;
    padding: 0;
}
.btn-container{
    text-align: center;
}
.btn{
    padding: 14px 18px 14px 18px;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 15px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    background: rgb(82, 195, 3);
    border: none;
    margin-top: 20px;
}

#hero{
    /* background-color: tomato;
    background-image: url("../assets/hero-bg.png"); */
    background: linear-gradient(
        180deg,
        rgb(5, 5, 5) -15.5%,
        rgb(16, 16, 16, 0) 100%
    ),url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .hero-content{
    width: 700px;
    
}

#hero .hero-content .subtitle{
    opacity: 0.8;
    color: rgb(255,255,255);
    font-family: Work Sans;
    font-size: 25px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
}

#hero .hero-content .title{
    color: rgb(255, 255,255);
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: center;
}

#hero .hero-content .description{
    color: rgb(255,255,255);
    font-family: Work Sans;
    font-size: 15px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 20px;
    opacity: 0.5;
}